[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
[submodule "external/cute_headers"]
	path = external/cute_headers
	url = https://github.com/RandyGaul/cute_headers
[submodule "external/PlatformFolders"]
	path = external/PlatformFolders
	url = https://github.com/sago007/PlatformFolders
[submodule "external/sqlite"]
	path = external/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "external/semver"]
	path = external/semver
	url = https://github.com/Neargye/semver
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/trompeloeil"]
	path = external/trompeloeil
	url = https://github.com/rollbear/trompeloeil
