[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
