[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
[submodule "external/cute_headers"]
	path = external/cute_headers
	url = https://github.com/RandyGaul/cute_headers
[submodule "external/PlatformFolders"]
	path = external/PlatformFolders
	url = https://github.com/sago007/PlatformFolders
[submodule "external/sqlite"]
	path = external/sqlite
	url = https://github.com/sqlite/sqlite
